
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    background-color: orange;
}
.menu {
    
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.menu a {
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.menu a:hover {
    background-color: rgb(173, 116, 10);
}

@media (max-width: 568px) {
    .menu {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu a {
        padding: 1rem;
    }
}


.top {
    width: 100%;
    height: 25vh;
    background-image: linear-gradient(#b48b8ba9, #9198e588), url('../img/FoodBackground.jpg');

}